<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Parc Informatique</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
<!-- Navbar -->
<nav class="bg-blue-900 text-white px-6 py-4 flex justify-between">
    <h1 class="font-bold text-lg">Parc Informatique</h1>

    <div class="flex gap-4">
        <a href="{% url 'dashboard' %}" class="hover:underline">Dashboard</a>
        <a href="{% url 'liste_tickets' %}" class="hover:underline">Tickets</a>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="bg-red-500 px-3 py-1 rounded">
                Logout
            </button>
        </form>
    </div>
</nav>

<!-- Content -->
<div class="p-6">
    {% block content %}{% endblock %}
</div>
</body>
</html>
